/Library/*
/Temp/*
/Builds/*

*.apk
*.csproj
*.sln
*.suo
*.swatch
*.unityproj
Assets/Puppet2D/Textures/GUI/IKControl.psd.meta
Assets/Puppet2D/Textures/GUI/ffdBone.psd.meta
Assets/Puppet2D/Textures/GUI/orientControl.psd.meta
Assets/Puppet2D/Textures/GUI/parentControl.psd.meta
Assets/Puppet2D/Textures/GUI/splineControl.psd.meta
Assets/Puppet2D/Textures/GUI/splineMiddleControl.psd.meta
obj/Debug/Assembly-CSharp.csproj.FilesWrittenAbsolute.txt
obj/Debug/Assembly-CSharp.dll
obj/Debug/Assembly-CSharp.dll.mdb
